:root {
    --color-primary: #212121;
    --color-secondary: #333;
    --color-acccent: #8f7f1a;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-primary);
}

/* Nav Bar*/

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
}

.nav_logo {
    height: 40%;
    margin-left: 10px;
}

.nav_icons {
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.nav_icon {
    margin: 15px;
    height: 20px;
    width: auto;
    filter: invert(100%) sepia(0%) saturate(7462%) hue-rotate(93deg) brightness(111%) contrast(108%);
    transition: border-bottom, transform, padding-bottom 0.3s;
}

.nav_element {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    display: none;
    transition: .3s;
}

.nav_element:hover {
    color: var(--color-acccent);
    border-bottom: 1px solid var(--color-acccent);
    padding-bottom: 5px;
}

.nav_icon:hover,
.nav-icon-active {
    filter: invert(46%) sepia(83%) saturate(390%) hue-rotate(14deg) brightness(89%) contrast(95%);
    border-bottom: 1px solid var(--color-acccent);
    padding-bottom: 5px;
    transform: scale(1.5);
}

.nav_element-mob {
    padding-bottom: 2px;
    text-decoration: none;
    color: inherit;
    display: block;
    border-bottom: 1px solid white;
    font-size: 1.8rem;
    margin: 20px;
    transition: .3s;
}

.nav_element-mob:hover {
    padding-bottom: 7px;
    border-bottom: 1px solid var(--color-acccent);
    color: var(--color-acccent);
}

/* Nav-collapsible for mobile */

.nav_coll-adder {
    height: 190px;
    transition: .6s;
    overflow: hidden;
}

.nav_coll-remover {
    height: 0px;
    transition: .6s;
    overflow: hidden;
}

/* Search bar */

.search-box {
    display: inline;
}

.input-search {
    height: 30px;
    outline: none;
    background: none;
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    position: relative;
    bottom: 21px;
    transition: box-shadow .2s;
    font-size: 1.6rem;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #fff;
}

.input-search:focus::placeholder {
    color: var(--color-acccent);
}

.input-search-active {
    width: 80px;
    transition: width .5s;
    visibility: visible;
}

.input-search-inactive {
    width: 0;
    transition: width .5s, visibility .25s;
    visibility: hidden;
}

@media screen and (min-width: 520px) {

    .input-search-active {
        width: 200px;
    }

    .nav_logo {
        height: 50%;
        margin-left: 20px;
    }
}

@media screen and (min-width: 800px) {

    .nav_element {
        display: inline;
    }

    #nav-burger {
        display: none;
    }

    .nav_coll-adder {
        height: 0;
    }
}

/* Home */

.home-section {
    height: 56.5vw;
    border-top: 1px solid white;
}

.home-vid {
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

.home-content {
    z-index: 1;
    position: relative;
    text-align: center;
    padding: 10px;
    top: 50px;
}

.home-content>p {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.home-content>a {
    color: inherit;
    font-size: 3rem;
    margin-top: 0;
    text-decoration: none;
}

@media screen and (min-width: 450px) {

    .home-content {
        top: 100px;
    }

    .home-content>p {
        font-size: 1.5rem;
    }

    .home-content>a {
        font-size: 4.5rem;
    }
}

@media screen and (min-width: 850px) {

    .home-content {
        top: 250px;
    }

    .home-content>p {
        font-size: 3rem;
    }

    .home-content>a {
        font-size: 8rem;
    }
}

/* Customer-review */


.review {
    margin: 60px;
    letter-spacing: 0.7px;
    line-height: 2.5rem;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    transition: .3s;
}

.review:hover {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-acccent);
}

.review:hover .review_author {
    color: var(--color-acccent);
}

.review_content {
    font-size: 1.8rem;
}

.review_author {
    font-size: 1.5rem;
    font-style: italic;
    transition: .3s;
}

@media screen and (min-width: 800px) {
    .review_content {
        font-size: 2.3rem;
    }

    .review_author {
        font-size: 1.8rem;
    }

    .review {
        margin: 70px 80px;
    }
}

@media screen and (min-width: 1000px) {
    .review_content {
        font-size: 2.6rem;
    }

    .review_author {
        font-size: 2.1rem;
    }

    .review {
        margin: 80px 100px;
    }
}

/* Button */

.btn {
    margin: 25px 0 25px 0;
    width: 100%;
    background: var(--color-primary);
    color: white;
    font-family: inherit;
    padding: 5px;
    padding-left: 45px;
    font-size: 1.3rem;
    font-weight: 300;
    border-radius: 30px;
    border: none;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    box-shadow: 16px 16px 33px #121212,
        -16px -16px 33px #303030;
    overflow: hidden;
    position: relative;
    height: 35px;
    padding-right: 50px;
}

.btn-icon {
    background: var(--color-acccent);
    margin-left: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 60px;
    border-radius: 25px;
    right: 5px;
    transition: all 0.3s;
}

.btn:hover .btn-icon {
    width: calc(100% - 10px);
}

.btn-icon svg {
    width: 17px;
    transition: transform 0.3s;
    color: var(--color-primary);
}

.btn:hover .btn-icon svg {
    transform: translateX(0.1em);
}

.btn-:active .btn-icon {
    transform: scale(0.95);
}


/* Cards */

.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    background: #212121;
    border-radius: 30px;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
        -15px -15px 30px rgb(60, 60, 60);
    transition: .3s;
}

.card:hover {
    transform: scale(1.1);
}

.card-img {
    background-color: darkgray;
    background-size: 110%;
    height: 200px;
    width: 100%;
    margin: 20px;
    border-radius: 23px;
}

.card-img1 {
    background-image: url(images/0-minimal.jpg);
}

.card-img2 {
    background-image: url(images/0-chronograph.jpg);
}

.card-img3 {
    background-image: url(images/0-diver.jpg);
}

.card-img4 {
    background-image: url(images/0-black.jpg);
}

.card-img5 {
    background-image: url(images/0-gold.jpg);
}

.card-img6 {
    background-image: url(images/0-heavyDuty.jpg);
}

.card-img:hover {
    animation: shake .25s;
}

.card-footer {
    margin: 30px;
    margin-top: 0px;
    font-weight: 300;
    font-size: 1.1rem;
}

.card-footer>.text-title {
    font-size: 1.7rem;
    margin: 0;
}

@keyframes shake {
    10% {
        transform: rotate(2deg);
    }

    20% {
        transform: rotate(-2deg);
    }

    30% {
        transform: rotate(2deg);
    }

    40% {
        transform: rotate(-2deg);
    }
}

/* Collections */
.collections-container {
    margin: 80px;
}

.collections-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.collections_header {
    font-size: 5rem;
    font-weight: 500;
}


/* Card-title */

.card_title_wrapper {
    display: flex;
    justify-content: center;
}

.card_title {
    margin: 100px 0;
    width: 500px;
    height: 90px;
    padding: 5px 30px 5px 30px;
    background: var(--color-primary);
    border-radius: 40px;
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
    text-align: center;
}

.card_title:hover {
    height: 260px;
    transform: skew(0deg);
}

.card_title h2 {
    margin-bottom: 30px;
    margin-top: 10px;
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
    font-weight: 400;
    font-size: 5rem;
    padding-bottom: 1px;
    transition: .3s;
}

.card_title:hover h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-acccent);
}

.card_title p {
    font-size: 2rem;
}