<section class="nav-block">
    <div class="nav">

        <img src="images/Elegor-logo-nav.png" class="nav_logo">

        <a href="#" class="nav_element">About us</a>
        <a href="#" class="nav_element">Collections</a>
        <a href="#" class="nav_element">Craftsmanship</a>
        <a href="#" class="nav_element">Contact</a>

        <div class="nav_icons">

            <div class="search-box">
                <input type="text" class="input-search
                    input-search-inactive"
                    placeholder="search..." id="input-search">
                <span class="btn-search">
                    <img src="icons/search.svg" class="nav_icon"
                        id="btn-search" onclick="searchBar()">
                </span>

            </div>

            <img
                src="icons/shopping-bag.svg" class="nav_icon"><img
                src="icons/menu-burger.svg" class="nav_icon"
                id="nav-burger" onclick="menuBurger()">
        </div>
    </div>
    <div class="nav_coll-remover" id="nav-collapsible">
        <a href="#" class="nav_element-mob">About us</a>
        <a href="#" class="nav_element-mob">Collections</a>
        <a href="#" class="nav_element-mob">Craftsmanship</a>
        <a href="#" class="nav_element-mob">Contact</a>
    </div>
</section>